div {

    width: 300px;
    padding: 50px; 
    margin: 50px;
    border: 14px  dotted black;
    font-family: Arial, Helvetica, sans-serif;

}

.book {

  height: 500px;
  width: 800px;
  margin: 100px auto;
  background-color: green;


}