.book {

  width: 1000px;
  height: 800px;
  margin: 50px auto;
  box-shadow: 8px 8px 20px rgba(0,0,0,0.3);
  position: relative; 

}

.cover {

  width: 500px;
  height: 800px;
  margin-left: auto;

}

.cover .front {

  width: 500px;
  height: 800px;
  background-image: url('assets/book/cover.png');
  background-size: cover;
  background-position: center;

}

.cover .back {

  display: none;

}

.page {

  display: none;

}